<div ng-if="map.center">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map_options">
    <ui-gmap-window show="window.show" coords="window.model" options="window.options" closeClick="window.closeClick()">
      <div style="color: black">
        {{window.title}} <br />
        By {{window.name}}
      </div>
    </ui-gmap-window>

    <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" events="markersEvents" options="markersOptions">
    </ui-gmap-markers>

    <ui-gmap-marker coords="my_marker.coords" options="my_marker.options" idkey="my_marker.id">
    </ui-gmap-marker>

  </ui-gmap-google-map>
</div>

<div ng-repeat="memo in memo_list track by memo._id">
  <pre>{{ memo | json }}</pre>
</div>
